.ScheduleSummary {
	margin-top: 2rem;
	width: 70vw;
}

.ScheduleSummary th, .ScheduleSummary td {
	font-size: 0.8rem;
	text-align: center;
	vertical-align: center;

	border: 1px solid blue;
	height: 2rem;
	width: 5rem;
}