.LeftSection {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #00C897;
	padding: 1rem;
	border-radius: 0.5rem;
}

@media only screen and (max-width: 900px) {
	.LeftSection {
		width: 100%;
	}
}