.Main {
	display: flex;
}

.Section {
	width: 50%;
	min-height: calc(100vh - 4rem);
	padding: 0.5rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 2rem;
}

/* Phone Large */
@media only screen and (max-width: 750px) {
	.Main {
		flex-direction: column;
	}

	.Section {
		width: 100%;
	}
}