.closeBtn {
	position: absolute;
	top: 20px;
	right: 20px;

	border-radius: 3rem;
	border: none;
	padding: 10px;
	text-align: center;

	background-color: blue;
	color: white;

	cursor: pointer;
}

.closeBtn:active {
	box-shadow: 1px 1px 1px darkblue;
}